Repository porn-vault/porn-vault, pull requests merged in 2021-02, with the labels that each got.

#1207 filter null values in internal getBulk method
  src/database/internal/index.ts
  src/graphql/resolvers/search/actor.ts
  src/graphql/resolvers/search/image.ts
  src/graphql/resolvers/search/marker.ts
  src/graphql/resolvers/search/movie.ts
  src/graphql/resolvers/search/scene.ts
  src/graphql/resolvers/search/studio.ts
  src/types/image.ts
  src/types/label.ts
  src/types/movie.ts
  src/types/scene.ts
Labels: fix, refactor

#1203 fix(scene plugin events): check matchCreatedActors
  src/plugins/events/scene.ts
Labels: fix

#1202 fix: use env variable for config folder
  doc/config.md
  doc/docker.md
  doc/env.md
  doc/guides.md
  doc/startup_options.md
  docker/Dockerfile.alpine
  docker/Dockerfile.debian
  src/middlewares/apollo.ts
  src/utils/path.ts
Labels: docker, documentation, fix

#1205 fix(search): use simple analyze
  src/search/common.ts
  src/search/index.ts
Labels: fix, search

#1206 Edit scene path
  app/src/components/AppBar/SceneDetails.vue
  app/src/store/scene.ts
  app/src/types/scene.ts
  app/src/util/scene.ts
  app/src/views/SceneDetails.vue
  src/database/index.ts
  src/database/internal/index.ts
  src/graphql/mutations/scene.ts
  src/graphql/schema/scene.ts
  src/types/scene.ts
Labels: enhancement, new feature

#1216 #1214
  src/config/index.ts
  src/plugins/index.ts
  src/plugins/register.ts
  test/root.spec.ts
  test/testServer.ts
Labels: fix, optimization

#1224 Store all filters in url
  app/src/components/CustomFieldFilter.vue
  app/src/store/actor.ts
  app/src/store/image.ts
  app/src/store/movie.ts
  app/src/store/scene.ts
  app/src/store/studio.ts
  app/src/util/searchState.ts
  app/src/views/Actors.vue
  app/src/views/Images.vue
  app/src/views/Movies.vue
  app/src/views/Scenes.vue
  app/src/views/Studios.vue
Labels: enhancement, new feature, refactor, search

#1266 ES analyzer & A-Z, last viewed sort
  app/src/views/Actors.vue
  app/src/views/Markers.vue
  app/src/views/Movies.vue
  app/src/views/Scenes.vue
  app/src/views/Studios.vue
  assets/version.json
  package-lock.json
  package.json
  src/search/actor.ts
  src/search/common.ts
  src/search/image.ts
  src/search/index.ts
  src/search/marker.ts
  src/search/movie.ts
  src/search/scene.ts
  src/search/studio.ts
  src/types/scene.ts
  test/search/actor.spec.ts
  test/search/movie.spec.ts
  test/search/scene.spec.ts
  test/search/studio.spec.ts
Labels: enhancement, search
